<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component">
        <field
            name="upload_extensions"
            type="text"
            size="50"
            default="bmp,csv,doc,gif,ico,jpg,jpeg,odg,odp,ods,odt,pdf,png,ppt,swf,txt,xcf,xls,BMP,CSV,DOC,GIF,ICO,JPG,JPEG,ODG,ODP,ODS,ODT,PDF,PNG,PPT,SWF,TXT,XCF,XLS"
            label="COM_MEDIA_FIELD_LEGAL_EXTENSIONS_LABEL"
            description="COM_MEDIA_FIELD_LEGAL_EXTENSIONS_DESC" />
    </fieldset>

    <fieldset
        name="permissions"
        label="JCONFIG_PERMISSIONS_LABEL"
        description="JCONFIG_PERMISSIONS_DESC"
    >

        <field
            name="rules"
            type="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            filter="rules"
            validate="rules"
            component="com_media"
            section="component" />
    </fieldset>
</config>
