/cache/*
!/cache/index.html
/administrator/cache/*
!/administrator/cache/index.html
/logs/*
!/logs/index.html
/tmp/*
!/tmp/index.html
/images/stories/virtuemart/product/*
!/images/stories/virtuemart/product/index.html
!/images/stories/virtuemart/product/resized
/images/stories/virtuemart/product/resized/*
!/images/stories/virtuemart/product/resized/index.html
/images/stories/virtuemart/category/*
!/images/stories/virtuemart/category/index.html
!/images/stories/virtuemart/category/resized
/images/stories/virtuemart/category/resized/*
/images/stories/baner/
!/images/stories/virtuemart/category/resized/index.html
/images/prices/*
/configuration.php
/nbproject
/images/stories/price.xls