html{
    margin:0;
    padding:0;
    font-family:Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 12px;
}

body{
    margin:0;
    padding:9px;
    font-family:Arial,Helvetica,sans-serif;
    color: #000000;
    font-size: 12px;
    background:#000000 url("../images/body-bg.png") repeat-x left top;
}

a{
    color: black;
}

p, ul, h1, h2, h3, h4, h5, h6{
    margin:0;
    padding:0;
}

#main{
    background:#ffffff;
    box-shadow: 0 0 10px 10px #cccccc inset; 
    padding:10px;
    min-width:900px;
}

h1, h2, h3, h4, h5, h6, .site-title{
    font-family: Arial !important;
}

/*********************************************************************/
/*************************HEADER TOP**********************************/
/*********************************************************************/

#header_top{
    margin:15px auto 7px;
    text-align:center;
}

/*********************************************************************/
/*************************HEADER BLOCK********************************/
/*********************************************************************/


#header_block{
    border:2px solid #4a4a4a;
    margin:0 21px;
    text-align: center;
}

#header_block .moduletablelogo{
    float:left;
    margin:20px;
}

#header_block .moduletableslider{
    margin:20px 20px 20px 0px;
    float: right;
}

/**********************MAINMENU***************************************/

#header_block #mainmenu_block{
    background:url("../images/menu-bg.png") repeat-x bottom left;
    height:30px;
}

#header_block #mainmenu_block ul{
    display: table;
    width: 100%;
    margin: 0;
    padding: 0;
}

#header_block #mainmenu_block ul li{
    list-style:none;
    border-left:#ffffff 1px solid;
    display: table-cell;
    float: none;
    text-align:center;
}

#header_block #mainmenu_block ul li:first-child{
    border-left:none;
}

#header_block #mainmenu_block ul li a{
    color:#ffffff;
    text-decoration:none;
    display:block;
    padding:5px;
    height: 17px;
}

#header_block #mainmenu_block ul li a:hover{
    text-decoration:underline;
}


/*********************************************************************/
/*************************WRAPPER*************************************/
/*********************************************************************/

#wrapper{
    margin:0 21px;
    padding: 15px 0;
}

/******************leftcol********************************************/

#wrapper #leftcol{
    float:left;
    width:235px;
}

#wrapper #leftcol h3{
    /*background: url("../images/partners.png") repeat-x center top;*/
    background: rgb(204, 16, 19);
    color: #ffffff;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

#wrapper #leftcol .VMmenu ul, #wrapper #leftcol .VMmenu li, #wrapper #leftcol ul.VMmenu {
    padding:0;
}

#wrapper #leftcol .VMmenu li a{
    /*background:linear-gradient(#c30101 0%, #e50101 20%, #e50101 80%, #c30101 100%);*/
    background:rgb(204, 16, 19);
    display:block;
    color: #fff;
    font-size: 13px;
    height: 28px;
    line-height: 28px;
    margin: 1px 0;
    text-align: center;
    text-decoration: none;
    width: 235px;
    font-weight: bold;
    border-radius: 5px;
}
#wrapper #leftcol .VMmenu li a:hover{
    box-shadow: 0 0 10px 3px rgba(5,5,5,0.3) inset;
    color: #eee;
}

#wrapper #leftcol .VMmenu li ul{
    display:none;
}

#wrapper #leftcol .VMmenu li.VmOpen a{
    background:url("../images/submenu.png") repeat-x;
}

#wrapper #leftcol .VMmenu li.VmOpen ul{
    display:block;
}

#wrapper #leftcol .VMmenu li.VmOpen ul li a:hover{
    box-shadow: 0 4px 6 px 3px rgba(200,200,200,0.5) inset;
}

#wrapper #leftcol .VMmenu li.VmOpen ul li a{
    background:#000000;
}

#wrapper #leftcol .VMmenu li.VmOpen ul li a:hover{
    box-shadow: 0 0 8px 3px rgba(150,150,150,0.5) inset;
    color: #eee;
}

#wrapper #leftcol .moduletableanekdot{
    margin:20px 0;
    text-align:center;
}

#wrapper #leftcol .moduletableanekdot p{
    font-size:16px;
}

/******************rightcol*******************************************/

#wrapper #rightcol{
    float:right;
    width:194px;
}

#wrapper #rightcol h3{
    /*background: url("../images/partners.png") repeat-x center top;*/
    background: rgb(204, 16, 19);
    color: #ffffff;
    font-family: Verdana;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

#wrapper #rightcol #mod_virtuemart_search{
    width: 189px;
}

#wrapper #rightcol .moduletablecall{
    margin-bottom:15px;
}

#wrapper #rightcol .moduletablecall input[type=submit]{
    margin:5px 0;
    width:193px;
    padding: 3px;
}

#wrapper #rightcol #mod_currency{
    margin-top:10px;
    width:193px;
    height:35px;
    background: rgb(204, 16, 19);
    text-align:center;
    color:#fff;
    font: normal 14px Arial;
    margin:10px 0;
    font-size:12px;
    font-weight: bold;
    line-height:13px;
    border-radius: 5px;
    line-height: 18px;
}

#wrapper #rightcol #mod_currency select[name=product_currency]{
    width:193px !important;
}

#wrapper #rightcol .vmgroup li{
    list-style:none;
    overflow: hidden;
}

#wrapper #rightcol .vmgroup a{
    text-decoration:none;
    color:#000000;
}

#wrapper #rightcol .moduletablecartmod{
    text-align: center;
    margin-bottom:15px;
}

#wrapper #rightcol .moduletablecart{
    margin-bottom:15px;
}

#wrapper #rightcol .right_col_but{
    display: block;
    margin: 5px 0;
    width: 193px;
    padding: 3px;
}

#fancybox-content a.continue_link,
#fancybox-content a.showcart{
    display: inline-block;
    height: 28px;
    line-height: 28px;
}

#fancybox-content hr{
    border: none;
    border-bottom: dashed 1px #e5e5e5;
    margin: 10px 0px 5px 0px;
}

/******************content********************************************/

#wrapper #content{
    padding:0 220px 0 250px;
}

#wrapper #content .moduletabletopinfo{
    text-align:center;
    border:1px solid #111111;
    background:#c6c6c6;
    padding:5px;
    font-family:Arial;
    margin-bottom: 15px;
}

.page-header{
    margin-bottom: 15px;
}

#wrapper #content .moduletabletopinfo .customtopinfo{
    background:#ffffff;
    padding:20px 25px;
}

#wrapper #content .moduletabletopinfo .customtopinfo .ban_contact{
    font-size:14px;
    color:#000000;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:10px;
    line-height:28px;
}

#wrapper #content .moduletabletopinfo .customtopinfo .ban_contact .tel{
    font-size:18px;
    color:#e80101;
    background:url('../images/ban_tel.png') left center no-repeat;
    display:inline-block;
    padding:5px 0 5px 30px;
    white-space: nowrap;
    line-height: 18px;
}

#wrapper #content .moduletabletopinfo .customtopinfo .ban_contact a.ban_link{
    color:#999999;
    text-decoration:underline;
}

#wrapper #content .moduletabletopinfo .customtopinfo .ban_contact a.ban_link:hover{
    text-decoration:none;
}

#wrapper #content .moduletabletopinfo .customtopinfo .imp_inf{
    padding-left:25px;
    background:url('../images/imp_inf.png') left top no-repeat;
}

#wrapper #content .moduletabletopinfo .customtopinfo .imp_inf .imp_inf_in{
    padding-right:25px;
    background:url('../images/imp_inf.png') right top no-repeat;
    color:#e80101;
    font-size:10px;
    text-transform:uppercase;
    font-weight:bold;
    min-height: 18px;
}

#wrapper #content .category-view .row .category .spacer h2 a{
    font-size:14px;
    color:#000000;
    text-decoration:none;
}

#wrapper #content .category-view .row .category .spacer h2 a img{
    margin:5px 10px 20px 10px;
}

#wrapper #content div.moduletablelatest_products{
    padding: 0 10px;
    text-align: center;
}

#wrapper #content div.moduletablelatest_products h3{
    margin-top: 50px;
    margin-bottom: 10px;
    font-size:18px;
}

#wrapper #content div.customlatest_products ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#wrapper #content div.customlatest_products ul li{
    list-style: none;
    padding: 10px;
    width: 180px;
    height: 180px;
    border: solid 1px red;
    border-radius: 10px;
    display: inline-block;
    margin: 5px 10px;
}

#wrapper #content div.customlatest_products ul li a div.prod_title{
    height: 30px;
    overflow: hidden;
}

#wrapper #content div.customlatest_products ul li a div.prod_img{
    height: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

#wrapper #content div.customlatest_products ul li a div.prod_img img{
    margin-top: 20px;
}

#wrapper #content div.customlatest_products ul li a div.prod_price{
    line-height: 30px;
    text-align: left;
}

div.prod_price span.price{
    font-size: 14px;
}

#wrapper #content div.customlatest_products ul li a div.prod_price span:last-child{
    float: right;
    font-weight: bold;
    color: #f90000;
} 

#wrapper #content .row{
    width:100%;
    float:left;
    text-align: center;
} 

#wrapper #content .row .category{
    display: inline-block;
    height: 200px;
    vertical-align: top;
    vertical-align: top;
} 

#wrapper #content .horizontal-separator{
    background:none;
} 

#wrapper #content .orderby-displaynumber{
    display:none;
}  

#wrapper #content h1{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}  

#wrapper #content .browse-view h1{
    display:none;
}     

#wrapper #content .browse-view div.product, .vm-product-container{
    border:none;
    border-bottom:dashed 1px #999999;
    margin-bottom: 20px;
} 

#wrapper #content .browse-view .vm-product-media-container{
    display:inline-block;
    vertical-align:top;
    width:20%;
}   

#wrapper #content .browse-view .desc_block{
    display:inline-block;
    vertical-align:top;
    width:79%;
}

#wrapper #content .spacer .vm-product-rating-container{
    display:none;
}

#wrapper #content .spacer .vm-product-descr-container-0{
    height:auto;
}

#wrapper #content .spacer .vm-product-descr-container-0 h2 a,
#wrapper #content .spacer .vm-product-descr-container-1 h2 a{
    color: #000000;
    cursor: pointer;
    font-family: arial;
    font-size: 14px;
    text-decoration:none;
    font-weight:normal;
}

#wrapper #content .spacer .vm3pr-1{
    float: left;
    margin-top: 10px;
}

#wrapper #content .spacer .vm3pr-0{
    margin-top:10px;
    text-align:right;
}

#wrapper #content .spacer .vm3pr-0 .addtocart-bar{
    position:relative;
    bottom:0;
    /*right:0;*/
}

#wrapper #content .spacer .PricebasePrice{
    color: #f90000;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
}

#wrapper #content .spacer .product-price{
    /*float:none;
    margin-right:100px;*/
}

#wrapper #content .spacer .addtocart-area{
    text-align:right;
}

#wrapper #content .spacer .addtocart-area .addtocart-bar{
    text-align:right;
}

#wrapper #content .spacer .addtocart-button{
    width: 120px;
}

#wrapper #content .spacer .vm-details-button{
    display: none;
}

#wrapper #content .vm-cart-header-container{
    float:left;
    width:100%;
}

#wrapper #content #com-form-login{
    border-bottom: 1px solid #cccccc;
    float: left;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
}

#wrapper #content #checkoutForm{
    float:left;
    width:100%;
}

#wrapper #content .cart-view .vm-cart-header-container .width50{
    float:none;
    width:100%;
}

#wrapper #content .cart-view .checkout-button-top #checkoutFormSubmit{
    width: 200px;
}

#wrapper #content .cart-view .sectiontableentry1 a{
    color:#3a3a3a;
    text-decoration:none;
}

#wrapper #content .cart-view .sectiontableentry1 input.quantity-input{
    padding:0;
    height:auto;
    font-weight:bold;
}

#wrapper #content a.vm-button-correct{
    width:200px;
    height:20px;
}

#wrapper #content .cart-view .vm2-add_quantity_cart{
    background:url('../images/update_quantity_cart.png') no-repeat;
    vertical-align:middle;
}

#wrapper #content .cart-view .vm2-remove_from_cart{
    background:url('../images/remove_from_cart.png') no-repeat;
}

#wrapper #content .cart-view .checkout-button-top{
    margin-bottom:50px;
}

#wrapper #content #com-form-login  p.floatleft{
    float:none;
    display:block;
}

#wrapper #content #com-form-login .inputbox{
    width:200px;
    margin:5px;
}

#wrapper #content #com-form-login #remember{
    width:auto;
}

#wrapper #content #com-form-login input[type=submit]{
    background-color: #000;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70%), radial-gradient(190% 100% at 50% 0 , rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(0, 0, 0, 0) 50%);
    background-position: 200% 0px, 0 0;
    background-repeat: no-repeat;
    background-size: 200% 100%, auto auto;
    border-radius: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
    outline: medium none;
    padding: 5px 15px;
    position: relative;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    border: medium none;
    border-radius: 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    height: 30px;
    margin: 0;
    width: 100px;
    text-align:center;
}


#wrapper #content #com-form-login .width30.floatleft{
    float:none;
    display:block;
}


#wrapper #content #userForm h2{
    margin-bottom:15px;
    text-align: center;
}

.general-bg, input.custom-attribute, input.quantity-input, .manufacturer-product-link a, a.ask-a-question, input.vm-default, a.product-details, a.details, div.details, button.default{
    border-radius:0;
}

#wrapper #content .browse-view input.quantity-input{
    padding:0;
}

#wrapper #content .browse-view span.quantity-controls input.quantity-plus{
    margin:5px 0 0 0;
}

#wrapper #content .browse-view span.quantity-controls input.quantity-minus{
    margin:0 0 5px 0;
}

#wrapper #content .category_description{
    margin:10px 0 20px 0;
}

#wrapper #content .product-neighbours .previous-page, #wrapper #content .product-neighbours .next-page{
    display:none;
}

#wrapper #content .back-to-category{
    display:none;
}

ul.VMmenu li div{
    position: relative;
}
.VmArrowdown{
    background: none;
    position: absolute;
    right: 0px;
    top: 8px;
    z-index: 1;
    padding: 0px;
    width: 10px;
    height: 10px;
}

#wrapper #content .cart-view #com-form-login, #wrapper #content .cart-view #checkoutForm .billto-shipto{
    display:none;
}

#wrapper #content .form-validate{
    float:left;
}

#wrapper #content .form-validate fieldset{
    clear:both;
}

#wrapper #content .userfields_info{
    border-top: 1px dotted #cccccc;
    font-size: 16px;
    margin: 20px 0 0 0;
    padding-top: 15px;
}

#wrapper #content .key label{
    font-weight:bold;
}

hr.userFormSeparate{
    margin-bottom:15px;
    border: none;
    border-bottom:1px solid #cccccc;
}

/*********************************************************************/
/*************************FOOTER**************************************/
/*********************************************************************/

#footer{
    clear:both;
    background:#000000;
    margin:-9px;
    color:#ffffff;
    padding:9px;
    font-weight:bold;
    font-style:italic;
    font-family:Arial,Helvetica,sans-serif;
    font-size:13px;
}

#footer .moduletableaddress{
    float:left;
    padding:10px;
    width:320px;
}

#footer .moduletablecopyright{
    float:right;
    padding:10px;
    text-align:right;
    width:320px;
}

#footer .moduletablemode{
    text-align:center;
    padding:10px 300px;
}


/******************************************************************************/
/********************************ELEMENTS**************************************/
/******************************************************************************/

#fancybox-content a.continue_link,
#fancybox-content a.showcart,
input.details-button,
#wrapper #content .cart-view .continue_link,
#wrapper #rightcol .vmCartModule .show_cart a,
#wrapper #content #userForm .control-buttons .default,
#checkoutFormSubmit,
button.button-gloss, 
a.vm-button-correct, 
input.button-gloss {
    display: inline-block;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0,0,0,.5);
    padding: 8px 15px;
    border: 1px solid rgb(50,50,50);
    border-radius: 8px;
    outline: none;
    background-color: #000;
    background-image: radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%);
    box-shadow:
        0 4px rgb(50,50,50),
        inset 0 1px rgba(255,255,255,.3),
        inset 0 0 3px rgba(255,255,255,.5);
    transition: .2s;
    cursor: pointer;
    text-align: center;
    font-family: 'MS Shell Dlg \32', Tahoma,Arial;
} 
#fancybox-content a.continue_link:active,
#fancybox-content a.showcart:active,
input.details-button:active,
#wrapper #content .cart-view .continue_link:active,
#wrapper #rightcol .vmCartModule .show_cart a:active,
#wrapper #content #userForm .control-buttons .default:active,
#checkoutFormSubmit:active,
button.button-gloss:active,
a.vm-button-correct:active,
input.button-gloss:active {
    /*    top: 1px;
        box-shadow: none;*/
    /*    background: rgb(255,255,255) linear-gradient(rgb(255,255,255) 20%, rgb(0,0,0));
        box-shadow:
            0 2px rgb(255,255,255),
            0 1px 6px rgba(0,0,0,.4),
            inset 0 1px rgba(255,255,255,.3),
            inset 0 0 3px rgba(255,255,255,.5);
        -webkit-transform: translate(0, 4px);
        transform: translate(0, 4px);*/
}
#fancybox-content a.continue_link:hover,
#fancybox-content a.showcart:hover,
input.details-button:hover,
#wrapper #content .cart-view .continue_link:hover,
#wrapper #rightcol .vmCartModule .show_cart a:hover,
#wrapper #content #userForm .control-buttons .default:hover,
#checkoutFormSubmit:hover,
button.button-gloss:hover,
a.vm-button-correct:hover,
input.button-gloss:hover {
    /*    transition: .5s linear;
        background-position: -200% 0, 0 0;*/
    background: radial-gradient(190% 100% at 50% 0%, rgba(255,255,255,.7) 0%, rgba(255,255,255,.5) 50%, rgba(0,0,0,0) 50%), linear-gradient(rgb(50,50,50), rgb(0,0,0) 80%);
}

#mainmenu_block ul.menu li{
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-shadow: -1px -1px #000;
    text-align: center;
    border: solid 1px black;
    background-repeat: no-repeat;
    background-size: 100% 300%, auto;
    background-position: 100% 100%;
    /*background-color: #000;*/
    background-image: linear-gradient(
        rgb(3,3,3) 0%, 
        rgb(73,73,73) 40%, 
        rgb(73,73,73) 49%, 
        rgb(100,100,100) 50%, 
        rgb(73,73,73) 50%, 
        rgb(73,73,73) 60%, 
        rgb(3,3,3) 100%);
}
#mainmenu_block ul.menu li:hover {
    transition: .4s linear;
    background-position: 100% 0%;
}

div.moduletablesearch, div.total_products{
    margin-bottom: 10px;
}
div.moduletablelogin{
    margin-bottom: 15px;
}
div.moduletablelogin input[type='text'], div.moduletablelogin input[type='password']{
    width: 189px;
    margin-bottom: 5px;
}

div.latest_products{
    padding: 0 10px;
    text-align: center;
}
div.latest_products h2{
    margin-top: 50px;
    margin-bottom: 10px;
}
div.latest_products ul{
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
div.latest_products ul li{
    list-style: none;
    padding: 10px;
    width: 180px;
    height: 180px;
    border: solid 1px red;
    border-radius: 10px;
    display: inline-block;
    margin: 5px 10px;
    vertical-align: top;
}
div.latest_products ul li a div.prod_title{
    height: 30px;
    overflow: hidden;
}
div.latest_products ul li a div.prod_img{
    height: 120px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}
div.latest_products ul li div.prod_img a img{
    max-width: 140px;
}
div.latest_products ul li a div.prod_price{
    line-height: 30px;
    text-align: left;
}
div.latest_products ul li div.prod_title{
    height: 30px;
    overflow: hidden;
}
div.latest_products ul li div.prod_img{
    height: 120px;
    margin: 10px 0px;
}
div.latest_products ul li a div.prod_price span:last-child{
    float: right;
    font-weight: bold;
    color: #f90000;
}
div.moduletable-latest h3{
    text-align: center;
}
div.vm_cart_products a{
    text-decoration: none;
}

div.rows{
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
}
div.rows label{
    display: inline-block;
    width: 50px;
}

input.addtocart-button{
    width: 70px;
    height: 20px;
    line-height: 0px;
    padding: 4px 5px;
}
span.price{
    color: #f90000;
    margin-right: 20px;
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
    height: 25px;
}
div.addtocart-area{
    height: 25px;
}
span.sku{
    font-size: 12px;
}
span.prouct_name a{
    text-decoration: none;
    font-weight: bold;
}
label.pricelbl{
    font-weight: normal;
    font-size: 11px;
}
span.cart{
    display: inline-block;
    width: 100px;
    height: 25px;
}
div.danger{
    border: 1px solid red;
    border-radius: 10px;
    margin: 5px 0px 10px 0px;
    padding: 10px;
}
div.total_products{
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    height: 12px;
}
#header_block_div{
    display:inline-block;
}

#fancybox-wrap{
    width: 600px !important;
}
#fancybox-content{
    width: auto !important;
}
div.assembly{
    text-align: center;
}

form#userForm{
    width: 100%;
}
form#userForm table.user-details{
    margin: 0 auto;
}

form#userForm .control-buttons{
    text-align: center !important;
    margin-bottom: 20px;
}

hr{
    border :none;
    border-top: 1px solid #e9e8e8;
}
.published-0{
    background: #ff9fa0;
}

div.tooltip{
    position: relative;
}

div.tooltip-inner{
    position: absolute;
    box-shadow: 0 0 4px 2px rgba(0,0,0,0.5);
    background: #ddd;
    border-radius: 5px;
    top: 20px;
    padding: 10px 30px;
    left: 50%;
    margin-left: -150px;
    width: 300px;
    max-height: 100px;
    overflow: hidden;
}

div.main-image a img{
    width: 100px;
}
div.pathway{
    margin: 20px 0;
}
div.pathway a{
    text-decoration: none;
}
#fancybox-outer #fancybox-content div a{
    height: 23px;
    padding: 0px 30px;
}
span.pagenav{
    color: #f90000;
    font-weight: bold;
}

.vm_cart_products div.danger{
    overflow: hidden;
}
.product-short-description{
    font-weight: bold;
}
.category-image{
    height: 160px;
}
.category-view .row .category .spacer h2 a img{
    height: 150px;
}
.category-product-count{
    font-weight: normal;
    text-decoration: none;
}